* {
    font-family: 'Verdana', sans-serif;
    margin: 0 auto;
}

.body {
    font-family: 'Verdana', sans-serif;
}

img {
    height: 100px;
    width: 150px;
}

header {
    display: flex;
    text-align: center;
    background-color: #99582A;
    padding: 20px;
    margin: 20px;
}

#favorites-heart {
    font-size: x-large;
    justify-content: flex-end;
}

button {
    font-size: large;
}