* {
    font-family: 'Verdana', sans-serif;
    margin: 20 auto;
}

.body {
    font-family: 'Verdana', sans-serif;
}

img {
    height: 50px;
    width: 75px;
}

header {
    display: flex;
    text-align: center;
    background-color: #99582A;
    padding: 10px;
    margin: 0 0 10px 0;
    align-items: center;
}

#favorites-heart {
    font-size: x-large;
    margin-left: auto;
}

button {
    font-size: large;
}