@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 20 auto;
    box-sizing: border-box;
}

.body {
    font-family: 'Outfit', sans-serif;
}

img {
    height: 50px;
    width: 75px;
}

header {
    display: flex;
    text-align: center;
    background-color: #99582A;
    padding: 10px;
    margin: 0 0 10px 0;
    align-items: center;
}

#favorites-heart {
    font-size: x-large;
    margin-left: auto;
    text-decoration: none;
    transform: hover transform box-shadow ease;
}

#favorites:hover {
    transform: scale(1.2) translateY(-3px);
    box-shadow: 3px rgba(32, 19, 11, 0.5);

}

button {
    font-size: large;
    padding: 5px;
    /* width: 10%;
    height: 15%; */
    align-self: center;
    transform: hover transform ease-in-out;
    border-radius: 8px;
    background-color: #4e3a30;
    color: rgb(255, 231, 215);
}

button:hover {
    transform: scale(1.2) translateY(-3px);
}

#favorites-title {
    text-align: center;
}

.hero {
    padding: 30px;
    margin: 50px 20px 30px 40px;
}

.container {
    padding: 10px;
    margin: 0px 0px 0 0;
    display: flex;
    background-color: #b99578;
}

.quote-box {
    margin-left: auto;
    background-color: #8f674e;
    width: 50%;
    height: 500px;
    padding: 20px;
    border-radius: 12px;
}

.quote {
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    background-color: #785139;
    height: 390px;
    text-align: center;
    font-size: 30px;
    font: bold;
}

.quote p {
    font-size: large;
    font: bold;
    justify-self: center;
    align-self: center;
    text-align: center;
}

#quote-element {
    justify-content: center;
    align-items: center;

    text-align: center;
    font-weight: bold;

    height: 100%;
}

#favorites {
    background-color: #896654;
    list-style-type: none;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: large;
    font: bold;
    box-shadow: inset;
}